{{ define "main" }}
<content>

  {{ .Content }}

  <h3 style="margin-bottom:0">Latest posts</h3>
  <ul class="blog-posts">
    {{ range (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
